# Default ignored files
/../../../../PycharmProjects./Professional-Portfolio/8. To Do List Site/.idea/shelf/
/../../../../PycharmProjects./Professional-Portfolio/8. To Do List Site/.idea/workspace.xml
